<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<h1 style="text-align: center;">My Courses</h1>

<div class="demo">
    <div>Start Date: {{startDate | date: 'MMM/dd/yyyy'}}</div>
    <div>{{title | titlecase}}</div>
    <div>{{price | currency: 'USD'}}</div>
</div>

<div>
    @for (pair of course| keyvalue; track $index) {
        {{pair.key + ': '+pair.value}}
    }
</div>
<div class="courses">

    @for (course of courses; track trackCourse;;let count = $count) {
        
        <course-card  
            [course]="course" 
            [index]="$index"
            (courseSelected)="onCourseSelected($event)"/> 

    }
    @empty { 
        <h1>No coureses found!</h1>
    }
    
</div>


